<h2 class="titleRealTime">Lista de productos con WebSocket</h2>


<div class="">
    <h3>Formulario de alta de producots</h3>
    <form class="" action="submit" id="formCreateProduct">
        <div class="formContainer">
        <label for="title">Nombre:</label>
        <input class="inputStyle"  type="text" name="title" id="title">
        <label for="description">Descripcion:</label>
        <input class="inputStyle" required type="text" name="description" id="description">
        <label for="code">Codigo:</label>
        <input class="inputStyle" required type="text" name="code" id="code">
        <label for="price">Precio:</label>
        <input class="inputStyle"  required type="number" name="price" id="price" min="0" step="0.01" inputmode="decimal">
        <label for="status">Estado:</label>
        <select class="inputStyle" name="status" id="status">
            <option value="activo">Activo</option>
            <option value="inactivo">Inactivo</option>
        </select>
        <label for="stock">Stock:</label>
        <input class="inputStyle" required min="0" type="number" name="stock" id="stock">
        <label for="category">Categoria:</label>
        <input class="inputStyle" required type="text" name="category" id="category">
        <label for="thumbnails">URL images</label>
        <input class="inputStyle" required type="text" name="thumbnails" id="thumbnails">
        </div>
        <button class="btn" type="submit">Cargar</button>
    </form>
</div>

<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Código</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoría</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody id="tbody">

    </tbody>
</table>

<div>
    <h3>Formulario para eliminar productos por WS</h3>
    <form id="formDeleteProduct">
        <label for="id">Numero de ID:</label>
          <input class="inputStyle" type="number" name="id" min="0" required />
        <button class="btn">Eliminar</button>
    </form>
</div>
<div>
    <h4 id="createMsg"></h4>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realtime.js"></script>